@media only screen and (max-width: 992px) {
  #banner .container .content_wrapper {
    max-width: 650px;
  }
  #service .container .inner_service {
    flex-wrap: wrap;
  }
  #service .container .inner_service .inner_box {
    flex-basis: 42%;
  }
  .inner_destination {
    flex-wrap: wrap;
  }
  .inner_destination .destination_box {
    flex-basis: 42%;
  }
}
@media only screen and (max-width: 768px) {
  #header .container .inner_header ul li a {
    display: none;
  }

  #header .container .inner_header .header_btn {
    display: none;
  }
  #header .container .inner_header i {
    display: block;
  }
  #banner .container .content_wrapper {
    max-width: 650px;
  }
  #banner {
    padding: 20px 10px;
  }
  #banner .container .content_wrapper h1 {
    font-size: 20px;
  }
  #banner .container .content_wrapper p {
    font-size: 15px;
  }
  #banner .container .inner_content {
    flex-direction: column;
  }
  #banner .container .inner_content {
    margin-top: 40px;
    margin-bottom: 124px;
    padding: 20px 0px;
  }
  .destination_menu ul li {
    font-size: 16px;
  }
  #blog .container .inner_blog .left_content {
    flex-basis: 100%;
  }
  #blog .container .inner_blog .right_content {
    flex-basis: 100%;
  }
  #blog .container .inner_blog .left_content p {
    font-size: 25px;
  }
  #blog .container .inner_blog .right_content .top_box p {
    font-size: 25px;
  }
  #blog .container .inner_blog .right_content .bottom_box p {
    font-size: 25px;
  }
  #customer .container .inner_customer .left_content p {
    font-size: 15px;
  }
  #customer
    .container
    .inner_customer
    .left_content
    .content_details
    .image
    img {
    width: 100%;
  }
  #customer .container .inner_customer .right_content p {
    font-size: 15px;
  }
  #footer .container .inner_footer {
    flex-direction: column;
    padding: 10px 0px;
  }
  #footer {
    background-color: white;
  }
  #banner .container .content_wrapper {
    max-width: 850px;
  }
}
@media only screen and (max-width: 600px) {
  #banner .container .content_wrapper {
    max-width: 150px;
  }
  .box .explore button {
    width: 100px;
    height: 37px;
  }
  #service .container .inner_service {
    flex-wrap: wrap;
  }
  #service .container .inner_service .inner_box {
    flex-basis: 100%;
  }
  #service .container .inner_service .inner_box .logo {
    text-align: center;
  }

  #service .container .inner_service .inner_box h3 {
    text-align: center;
    padding: 0 15px;
  }
  #service .container .inner_service .inner_box p {
    text-align: center;
    padding: 0 15px;
  }
  .inner_destination {
    flex-wrap: wrap;
  }
  .inner_destination .destination_box {
    flex-basis: 100%;
  }
}
